@media (max-width : 600px){
    .shutter h1{
        font-size: 15vw;
    }

    .shutter-up h1 {
        transform: translatey(10.5vw);
    }
    .shutter-down h1 {
        transform: translatey(-10.5vw);
    }

    .shutter-up h2{
        font-size: 4vw;
    }
    .shutter-down p{
        font-size: 3vw;
    }
}