*{
    margin : 0%;
    padding : 0%;
    box-sizing: border-box;
}

html,body {
    height : 100vh;
    width : 100vw;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.shutter {
    overflow: hidden;
    width : 100%;
    height: 100%;
    position : absolute;
    top:0;
    animation : shutter 5s 1 forwards 7s; 
}

.shutter h1{
    font-size: 9vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800; 
}


@keyframes shutter {
    from{
        height : 100%;
       
      }
      to{
        height : 0%;
        
      }
}

.shutter-up{
    overflow: hidden;
    position : absolute;
    top : 0;
    height : 50%;
    width : 100%;
    background-color: black;
    color :#3C3D37;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    animation : up 3s 1 forwards 2s;
    z-index :100;
} 

.shutter-up h1{
    transform: translatey(6.3vw);
}

.shutter-up h2{
   font-size: 1.7vw;
   letter-spacing: 1vw;
   transform: translatey(6vw);

}


@keyframes up {
    from{
        height : 50%;
      }
      to{
        height : 0%;
      }
}
.shutter-down{
    overflow: hidden;
    position : absolute;
    bottom : 0;
    height : 50vh;
    width : 100%;
    background-color: black;
    color:#3C3D37;
    animation : down 3s 1 forwards 2s;
    z-index: 100;
    text-align: center;
    
}


.shutter-down h1{
    transform: translatey(-6.3vw);
}

.shutter-down p{
    font-family:sans-serif;
    font-size: 1.4vw;
    color:#697565;
    transform: translateY(-4vw);
}

@keyframes down {
    from{
      height : 50%;
    }
    to{
      height : 0%;
    }
}  
main{
    height :200vh;
} 